$background-grey: #242424;
$background-darkgrey: #131313;
$background-input: #3b3b3b;
$gradient-one: #da3394;
$gradient-two: #e03c67;
$gradient-three: #f3753b;
$gradient-four: #f99b4a;
$font-color-input: #ffffff;
$font-color-primary: #262626;
$font-color-secondary: #8e8e8e;
$font-color-footer: #c7c7c7;
$border-color-grey: #414141;
$border-color-grey-secondary: #efefef;
$link-color: #0095f6;
$link-text-color: #fe6c21;
$link-color-secondary: #b3dffc;
$font: "Montserrat", sans-serif;
