.cardMenu {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;

  .interactions {
    display: flex;
    padding-left: 1em;
  }

  .cardMenuIcon {
    margin-right: 1em;
    width: 23px;
    height: 23px;

    &:hover {
      cursor: pointer;
    }
  }
  .cardMenuIcon-red {
    margin-right: 1em;
    width: 23px;
    height: 23px;
    fill: red;
    &:hover {
      cursor: pointer;
    }
  }
}
