@import "./variables";

main {
  background-color: $background-grey;
  margin-top: 60px;

  .container-mainpage {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    max-width: 1000px;
    .cards {
      width: 600px;
    }
  }
}

a {
  text-decoration: none;
  color: $link-text-color;
  font-size: 1em;
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  main .container-mainpage {
    justify-content: center !important;
  }
  .cards {
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    width: 100% !important;
  }
}
