@import "./variables";

.profileCard {
  border: 1px solid $border-color-grey;
  border-radius: 10px;
  background-color: $background-grey;
  margin: 15px 10px;
  height: 346px;
  width: 292px;
  .profileCard-img {
    height: 290px;
    width: 280px;
    margin: 5px;
    border-radius: 10px;
  }
  .profileCard-info {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
  }
}
