@import "./variables";

.listSignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .signUpMenu {
    background-color: $background-grey;
    width: 342px;
    margin-left: 30px;
    border: 1px solid $border-color-grey;
    justify-content: center;
    .logo {
      margin: 30px auto;
      display: block;
      width: 250px;
    }
    .descContainer {
      width: 200px;
      margin: 0 auto;
      .descText {
        text-align: center;
        font-size: 16px;
        color: $font-color-secondary;
      }
    }
    .signUpForm {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      button {
        .uploadProfilePic {
          background-color: black;
        }
        height: 30px;
        width: 263px;
        margin: 10px auto;
        margin-bottom: 20px;
        background: linear-gradient(
          200deg,
          $gradient-one 25%,
          $gradient-two 50%,
          $gradient-three 75%,
          $gradient-four 100%
        );
        border: 0;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
      .errorMsg {
        color: $link-text-color;
        margin-bottom: 3px;
        margin-left: 35px;
        font-size: 12px;
      }
      .validation {
        margin: 5px auto;
        border: 0;
        border-radius: 4px;
        background-color: $link-text-color;
        opacity: 0.7;
        color: white;
        width: 263px;
        padding: 8px 0;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        .ic {
          margin-left: 10px;
        }
        .val {
          text-align: center;
        }
      }
    }
  }
  .signUp {
    background-color: $background-grey;
    width: 342px;
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid $border-color-grey;
    display: flex;
    justify-content: center;
    height: 50px;
    text-align: center;
    align-items: center;
    .signUpText {
      font-size: 14px;
      color: #ffffff;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .copyright {
    color: $link-text-color;
    margin-left: 30px;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
  }
}

input {
  height: 30px;
  width: 255px;
  margin: 3px auto;
  font-size: 11px;
  padding-left: 2%;
  border: 1px solid $border-color-grey;
  border-radius: 3px;
  background-color: $background-input;
  color: $font-color-input;
}
